<div [ngClass]="`${(hoveredAsst().name) ? 'pt-4 pb-2' : 'py-4'} px-4 bg-black/50 skew-0!`">
    <div>
        <div class="grid grid-cols-8 gap-2 pb-2">
            @for (char of this.assistCharacters; track char.abbr) {
                <!--Don't display DFCI exclusive assists if only DFC-->
                @if (!char.ignition || isIgnition()) {
                    <img 
                        [ngSrc]="`../../../../../../assets/asst-menu/lg/${char.abbr}.png`"
                        [ngClass]="`${isP1() ? 'hover:animate-p1-select' : 'hover:animate-p2-select'}`"
                        width="60"
                        height="60"
                        (mouseenter)="hoveredAsst.set(char)"
                        (click)="updateSelectedAsst.emit(char)"
                    />
                }
            }
        </div>
        @if (hoveredAsst().name) {
            <span [ngClass]="`text-white text-${isP1() ? 'left' : 'right'}`">
                {{hoveredAsst().name}}
            </span>
        }
    </div>
</div>