<div class="p-4 bg-black opacity-75 skew-0!">
    <div class="flex flex-row flex-wrap gap-2">
        @for (char of this.assistCharacters; track char.abbr) {
            <!--Don't display DFCI exclusive assists if only DFC-->
            @if (!char.ignition || isIgnition()) {
                <img 
                    [ngSrc]="`../../../../../assets/asst-menu/lg/${char.abbr}.png`"
                    class="hover:border-2 hover:border-white"
                    width="60"
                    height="60"
                    (mouseenter)="hoveredAsst.set(char)"
                    (click)="updateSelectedAsst.emit(char)"
                />
            }
        }
    </div>
    @if (hoveredAsst().name) {
        <span [classList]="`text-${isP1() ? 'left' : 'right'}`">
            {{hoveredAsst().name}}
        </span>
    }
</div>