<div [ngClass]="`transition-transform duration-700 ${isOpen() ? 'scale-y-100' : 'scale-y-0'} pt-4 pb-2 px-4 bg-black/50 skew-0!`">
    <div>
        <div class="grid grid-cols-8 gap-2 pb-2">
            @for (char of this.assistCharacters; track char.abbr) {
                <!--Don't display DFCI exclusive assists if only DFC-->
                <!-- @defer (on viewport) {
                    @if (!char.ignition || isIgnition()) {
                        <img 
                            [ngSrc]="`../../../../../../assets/asst-menu/lg/${char.abbr}.png`"
                            [ngClass]="`${isP1() ? 'hover:animate-p1-select' : 'hover:animate-p2-select'}`"
                            width="60"
                            height="60"
                            (mouseenter)="hoveredAsst.set(char)"
                            (click)="updateSelectedAsst.emit(char)"
                        />
                    }
                } @placeholder (minimum 50000ms) {
                    <mat-spinner class="max-w-[60px]! max-h-[60px]!" />
                } -->

                @if (!char.ignition || isIgnition()) {
                    <img 
                        [ngSrc]="`../../../../../../assets/asst-menu/lg/${char.abbr}.png`"
                        [ngClass]="`${isP1() ? 'hover:animate-p1-select' : 'hover:animate-p2-select'}`"
                        width="60"
                        height="60"
                        (mouseenter)="hoveredAsst.set(char)"
                        (click)="updateSelectedAsst.emit(char)"
                    />
                }
            }
        </div>
        <span [ngClass]="`text-white text-${isP1() ? 'left' : 'right'}`">
            {{hoveredAsst().name ? hoveredAsst().name : 'Any/All'}}
        </span>
    </div>
</div>