<button
    class="cursor-pointer animate-open-h relative"
    (click)="isOpen.set(!isOpen())"
    type="button"
    cdkOverlayOrigin
    #trigger
>
    @if (!isFull()) {
        <!--Replay Theater-->
        <img 
            [ngSrc]="`../../../../../assets/char-menu/sm/${this.selectedChar().abbr}.png`"
            width="90"
            height="90"
        />
    } @else {
        <!--VS Screen Replica-->
        <div [ngClass]="`${isP1() ? 'player-sel-flash-p1' : 'player-sel-flash-p2'} absolute -bottom-1/30 w-full h-full bg-black/50`"></div>

        <img
            [ngSrc]="`../../../../../assets/char-portraits/${this.selectedChar().abbr}_${this.isP1() ? 'p1' : 'p2'}.png`"
            width="596"
            height="395"
            class="relative"
        />

        <div [ngClass]="`absolute bottom-3/17 flex flex-col w-full text-white italic font-semibold text-shadow-glow text-shadow-(color:--dfc-portrait-glow) ${isP1() ? 'text-right' : 'text-left'}`">
            <span class="mx-10 text-5xl">{{((this.selectedChar().name) ? this.selectedChar().short ?? this.selectedChar().name : 'Any/All') | uppercase}}</span>
            <!--TO-DO: Change second line to be assist's name-->
            <span [ngClass]="`mx-8 ${(this.asstName() && this.asstName().length > 10) ? 'text-lg' : 'text-2xl'}`">
                {{(`&${this.asstName() ? this.asstName() : 'Any/All'}`) | uppercase}}
            </span>
        </div>

        <div [ngClass]="`${isP1() ? 'player-sel-flash-p1' : 'player-sel-flash-p2'} absolute top-0 animate-open-h-flash w-full h-full bg-white`"></div>

        <!--Wiki page icon-->
        @if (this.selectedChar().name) {
            <a 
                matIconButton 
                [ariaLabel]="`${this.charName()}'s wiki page`" 
                [ngClass]="`absolute animate-hide-info-icon m-2 top-0 text-3xl *:overflow-visible ${isP1() ? 'left-0' : 'right-0'}`"
                [href]="this.selectedChar().wiki"
                target="_blank"
            >
                <mat-icon class="text-shadow-glow text-shadow-(color:--dfc-portrait-glow) hover:(color:--dfc-hover-glow)" inline="true">info</mat-icon>
            </a>
        }
    }
</button>
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen()"
    [cdkConnectedOverlayPositions]="!isFull() ? [
            {
                originX: isP1() ? 'start' : 'end',
                originY: 'bottom',
                overlayX: isP1() ? 'start' : 'end',
                overlayY: 'top',
            },
            {
                originX: isP1() ? 'end' : 'start',
                originY: 'bottom',
                overlayX: isP1() ? 'end' : 'start',
                overlayY: 'top',
            }
        ] : [
            {
                originX: (isP1()) ? 'start' : 'end',
                originY: 'center',
                overlayX: (isP1()) ? 'start' : 'end',
                overlayY: 'center'
            }
        ]"
    (detach)="isOpen.set(false)"
    (overlayOutsideClick)="isOpen.set(false)"
>
    @if (!isFull()) {
        <!--Standard Select-->
        <div 
            class="select-overlay"
            animate.enter="select-overlay-enter"
            animate.leave="select-overlay-leave"
        >
            <div (click)="updateSelectedChar(playableCharacters[10])" [ngClass]="`select-option ${selectedChar().name ? '' : 'bg-(--dfc-color-primary)/50'} hover:bg-white/25 *:text-white`">
                <div class="flex flex-row gap-2 items-center">
                    <img 
                        ngSrc="../../../../../assets/char-menu/sm/all.png"
                        width="90"
                        height="90"
                        class="w-auto h-12"
                    />
                    <span class="text-md">Any/All</span>
                </div>
            </div>
            @for (char of this.sortedChars; track char.abbr) {
                <!--Don't display DFCI exclusive characters if only DFC-->
                @if (char.abbr !== 'all' && (isIgnition() || !char.ignition)) {
                    <div (click)="updateSelectedChar(char)" [ngClass]="`select-option *:text-white ${(selectedChar() === char) ? 'bg-(--dfc-color-primary)/50' : ''} hover:bg-white/25`">
                        <div class="flex flex-row gap-2 items-center">
                            <img 
                                [ngSrc]="`../../../../../assets/char-menu/sm/${char.abbr}.png`"
                                width="90"
                                height="90"
                                class="w-auto h-12"
                            />
                            <span class="text-md">{{char.name}}</span>
                        </div>

                        <!--Mizuumi link-->
                        <a 
                            matIconButton 
                            [ariaLabel]="`${char.short ?? char.name}'s wiki page`" 
                            class="flex justify-end text-4xl *:overflow-visible"
                            [href]="char.wiki"
                            target="_blank"
                        >
                            <mat-icon class="text-shadow-glow text-shadow-(color:--dfc-char-sel-glow) hover:text-shadow-(color:--dfc-portrait-glow)" inline="true">info</mat-icon>
                        </a>
                    </div>
                }
            }
        </div>
    } @else {
        <app-char-menu 
            [isIgnition]="isIgnition()"
            [isP1]="isP1()"
            (updateSelectedChar)="updateSelectedChar($event)"
            animate.enter="animate-overlay-open-h"
            animate.leave="select-overlay-leave"    
        />
    }
</ng-template>