<button
    class="cursor-pointer animate-open-h"
    (click)="isOpen.set(!isOpen())"
    type="button"
    cdkOverlayOrigin
    #trigger
>
    @if (!isFull()) {
        <!--Replay Theater-->
        <img 
            [ngSrc]="`../../../../../assets/char-menu/sm/${this.selectedChar().abbr}.png`"
            width="90"
            height="90"
        />
    } @else {
        <!--VS Screen Replica-->
        <img
            [ngSrc]="`../../../../../assets/char-portraits/${this.selectedChar().abbr}_${this.isP1() ? 'p1' : 'p2'}.png`"
            width="596"
            height="395"
        />

        <div [ngClass]="`absolute bottom-3/17 flex flex-col w-full text-white italic font-semibold text-shadow-glow text-shadow-(color:--dfc-portrait-glow) ${isP1() ? 'text-right' : 'text-left'}`">
            <span class="mx-10 text-5xl">{{((this.selectedChar().name) ? this.selectedChar().short ?? this.selectedChar().name : 'Any/All') | uppercase}}</span>
            <!--TO-DO: Change second line to be assist's name-->
            <span [ngClass]="`mx-8 ${(this.asstName() && this.asstName().length > 10) ? 'text-lg' : 'text-2xl'}`">
                {{(`&${this.asstName() ? this.asstName() : 'Any/All'}`) | uppercase}}
            </span>
        </div>

        <div [ngClass]="`${isP1() ? 'player-sel-flash-p1' : 'player-sel-flash-p2'} absolute top-0 animate-open-h-flash w-full h-full bg-white`"></div>

        <!--Wiki page icon-->
        @if (this.selectedChar().name) {
            <a 
                matIconButton 
                [ariaLabel]="`${this.charName()}'s wiki page`" 
                [ngClass]="`absolute animate-hide-info-icon m-2 top-0 text-3xl *:overflow-visible ${isP1() ? 'left-0' : 'right-0'}`"
                [href]="this.selectedChar().wiki"
                target="_blank"
            >
                <mat-icon class="text-shadow-glow text-shadow-(color:--dfc-portrait-glow) hover:(color:--dfc-hover-glow)" inline="true">info</mat-icon>
            </a>
        }
    }
</button>
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen()"
    [cdkConnectedOverlayFlexibleDimensions]="true"
    [cdkConnectedOverlayPositions]="!isFull() ? [
            {
                originX: 'start',
                originY: 'bottom',
                overlayX: 'start',
                overlayY: 'top',
            }
        ] : [
            {
                originX: (isP1()) ? 'start' : 'end',
                originY: 'center',
                overlayX: (isP1()) ? 'start' : 'end',
                overlayY: 'center'
            }
        ]"
    (detach)="isOpen.set(false)"
    (overlayOutsideClick)="isOpen.set(false)"
>
    @if (!isFull()) {
        <!--Simple Select-->
        <div class="select-overlay mat-select-panel-animations-enabled mat-mdc-select-panel mdc-menu-surface mdc-menu-surface--open mat-primary">
            <div (click)="updateSelectedChar(playableCharacters[10])" [ngClass]="`select-option ${selectedChar().name ? '' : 'bg-(--dfc-color-primary)/50'} hover:bg-white/25 *:text-white`">
                <img 
                    ngSrc="../../../../../assets/char-menu/sm/all.png"
                    width="90"
                    height="90"
                    class="w-auto h-12"
                />
                <span class="text-md">Any/All</span>
            </div>
            @for (char of this.sortedChars; track char.abbr) {
                <!--Don't display DFCI exclusive characters if only DFC-->
                @if (char.abbr !== 'all' && (isIgnition() || !char.ignition)) {
                    <div (click)="updateSelectedChar(char)" [ngClass]="`select-option *:text-white ${(selectedChar() === char) ? 'bg-(--dfc-color-primary)/50' : ''} hover:bg-white/25`">
                        <img 
                            [ngSrc]="`../../../../../assets/char-menu/sm/${char.abbr}.png`"
                            width="90"
                            height="90"
                            class="w-auto h-12"
                        />
                        <span class="text-md">{{char.name}}</span>
                    </div>
                }
            }
        </div>
    } @else {
        <app-char-menu 
            [isIgnition]="isIgnition()"
            [isP1]="isP1()"
            (updateSelectedChar)="updateSelectedChar($event)"    
        />
    }
</ng-template>