@if (!isFull()) {
    <mat-form-field>
        <mat-label>Select {{this.isP1() ? 'P1' : 'P2'}} assist</mat-label>
        <mat-select [(value)]="selectedAsst">
            <mat-option>
                <img 
                    ngSrc="../../../../../assets/asst-menu/sm/all.png"
                    width="90"
                    height="48"
                />
                All
            </mat-option>
            @for (char of this.assistCharacters; track char.abbr) {
                <!--Don't display DFCI exclusive characters if only DFC-->
                @if (char.abbr !== 'all' && (!char.ignition || isIgnition())) {
                    <mat-option [value]="char">
                        <img 
                            [ngSrc]="`../../../../../assets/asst-menu/sm/${char.abbr}.png`"
                            width="90"
                            height="48"
                        />
                        {{char.name}}
                    </mat-option>
                }
            }
        </mat-select>
    </mat-form-field>
} @else {
    <button
        class="cursor-pointer" 
        (click)="isOpen.set(!isOpen())" 
        type="button" 
        cdkOverlayOrigin 
        #trigger="cdkOverlayOrigin"
    >
        <img 
            [ngSrc]="`../../../../../assets/asst-portraits/${this.selectedAsst().abbr}_${this.isP1() ? 'p1' : 'p2'}.png`"
            width="365"
            height="152"
        />
    </button>
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpen()"
        (detach)="isOpen.set(false)"
        (overlayOutsideClick)="isOpen.set(false)"
    >
        <app-assist-menu 
            [isIgnition]="isIgnition()"
            [isP1]="isP1()"
            (updateSelectedAsst)="updateSelectedAssist($event)"
        />
    </ng-template>
}
