<div [class]="`flex h-fit relative justify-center items-center py-4 ${isFull() ? 'gap-22' : 'gap-4'} text-white ${isHandset() ? 'flex-col' : ''}`">
    <!--Player 1-->
    <app-player 
        [isIgnition]="isIgnition()"
        [isP1]="true"
        [isHandset]="isHandset()"
        [isFull]="isFull()"
    />

    @if (!isHandset() && !isFull()) {
        <img 
            ngSrc="../../../assets/vs_text.png"
            width="192"
            height="64"
            class="h-fit"
        />
    }
    
    <!--Player 2-->
    <app-player 
        [isIgnition]="isIgnition()"
        [isP1]="false"
        [isHandset]="isHandset()"
        [isFull]="isFull()"
    />

    <!--VS Text-->
    @if (!isHandset() && isFull()) {
        <img 
            ngSrc="../../../assets/vs_text.png"
            width="192"
            height="64"
            class="h-fit absolute top-10/25 animate-open-h"
        />
    }
</div>
